* {
    box-sizing: border-box;
}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
}

.city {
    font-size: 3.5rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 1.5rem;
    
}
/*Navation Bar*/
.navigation-bar {
    background-color: rgb(247, 235, 221);
    padding: 10px 10px 10px 10px;
    text-align: center;
}

/*Search Bar*/
.search-bar {
    background-color: rgb(242, 197, 146);